<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center container">
      <span class="mb-3 mb-md-0 text-body-secondary">© <%= new Date().getFullYear() %> Hans Figueroa</span>
        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex" id="footer-links">
        <li class="ms-3"><a class="text-body-secondary" href="https://www.linkedin.com/in/hans-figueroa/"><i class="bi bi-linkedin"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/weebtechnician"><i class="bi bi-twitter"></i></a></li>
        <li class="ms-3"><a class="text-body-secondary" href="https://github.com/Weebtechnician"><i class="bi bi-github fa-xl"></i></a></li>
        </ul>
    </div>
  </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script type="module"src="/server.js"></script>
</body>


</html>